doctype html
html
	head
		title= title
		// css per index - login - register
		link(href='/stylesheets/style.css', rel="stylesheet", type="text/css")
	body
		script.
			function move() {
				window.location.href = '/login'
			}

		.headerI
			.menu-dI
				img.logoI(href='#' src='/images/logoEggs/logoNoSfondo.png')
				.vociMenuI
					a.scritteMenuI(href='#') Home
					a.scritteMenuI(href='#') Elaborati
					a.scritteMenuI(href='#') Contattaci
			.menu-sI
				button(onclick="move()").bottoniMenuI1 Login
				button.bottoniMenuI2 Register
		main.mainI
			a ciao
		footer
			a.poweredBy Powered by 
			img.immagineLogo(src='/images/logoEggs/logoNoSfondo.png')
			a.copyright &copy; 2022 EggSolution, Inc. All rights reserved.
