extends layout

block content
	header
	.menu-d
		img.logo(href='#' src='/public/images/logoEggs/logoNoSfondo.png')
		.vociMenu
		a(href='#') Home
		a(href='#') Elaborati
		a(href='#') Contattaci
	.menu-s
		button(href='/log-in') Log-in
		button(href='/sig-in') Sig-in
