doctype html
html
	head
		title= title
		// css per index - login - register
		link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
		// csss per error
		link(rel='stylesheet', type="text/css", href='/stylesheets/pagina404.css')
	body
		block content
		footer
			a Powered by 
			img.immagineLogo(src='/public/images/logoEggs/logoNoSfondo.png')
			a.copyright &copy; 2022 EggSolution, Inc. All rights reserved.

