doctype html
html
    head
        title= title
        link(rel='stylesheet' href='stylesheets/register.css')
        script(src='javascripts/register.js')
    body
        .mainFlex
            form.fromNode(action='/register' method='POST')
                .form
                    a.titolo Register:
                    .slide
                        .parte1
                            .flex-form
                                a.nomeI Nome:
                                input.input1(type='text' name='nome')
                                a.emailI Email:
                                input.input2(type='email' name='email')
                            .bottoni1
                                button.invio(type="button" onclick="animazione('avanti')") Avanti
                        .parte2
                            .flex-form
                                a.passI1 Password:
                                input.input1(type='password' name='pass1')
                                a.passI2 Conferma password:
                                input.input2(type='password' name='pass2')
                            .bottoni2
                                button.invio2(type="button" onclick="animazione('indietro')") Indietro
                                button.invio1(type='submit') Fine
    footer
        a.poweredBy Powered by 
        img.immagineLogo(src='/images/logoEggs/logoNoSfondo.png')
        a.copyright &copy; 2022 EggSolution, Inc. All rights reserved.
