* {
    padding: 0;
    margin: 0;
}
*::selection {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&family=Yantramanav:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,500&display=swap');

:root {
    --mainBackground: #4863e6;
    --barraLateraleColore: #303030;
    --widgetSpacing: 25px;
    --widgetBorderRadius: 25px;
}
/* CARICAMENTO */
.caricamento {
    z-index: 9999;
    background: #000000;
    position: absolute;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    transition: 1s visibility;
}
.caricamentoScomparsa {
    display: none;
}
.eggSoltuion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 40px;
    width: 250px;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 5px;
}
.eggSoltuion a {
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
    font-size: 85%;
}
.eggSoltuion img {
    height: 30px;
    margin-left: 4px;
    margin-right: 6px;
}

/* SCROLL */
::-webkit-scrollbar {
  width: calc(100% - 90px);
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(88,88,88,80%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: rgba(255,255,255);
  border-radius: 10px;
}
::-o-scrollbar {
  width: calc(100% - 90px);
  height: 10px;
}
::-o-scrollbar-track {
  background-color: rgba(88,88,88,80%);
  border-radius: 10px;
}
::-o-scrollbar-thumb {
  height: 10px;
  background-color: rgba(255,255,255);
  border-radius: 10px;
}
::-moz-scrollbar {
  width: calc(100% - 90px);
  height: 10px;
}
::-moz-scrollbar-track {
  background-color: rgba(88,88,88,80%);
  border-radius: 10px;
}
::-moz-scrollbar-thumb {
  height: 10px;
  background-color: rgba(255,255,255);
  border-radius: 10px;
}
::-ms-scrollbar {
  width: calc(100% - 90px);
  height: 10px;
}
::-ms-scrollbar-track {
  background-color: rgba(88,88,88,80%);
  border-radius: 10px;
}
::-ms-scrollbar-thumb {
  height: 10px;
  background-color: rgba(255,255,255);
  border-radius: 10px;
}

/* WELCOME PAGE */
.welcomePage {
    height: 698px;
    width: 1168px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #141414;
    border-radius: 40px;
    position: absolute;
    z-index: 6;
}
.welcomeTitle,
.welcomeDes,
.welcomeDom {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.welcomeTitle,
.welcomeDes {
    margin-top: 120px;
}
.welcomeDom {
    margin-top: 80px;
}
.welcomeTitle a {
    color: #F581E3;
}
.welcomeDes a,
.welcomeDom a{
    color: #4DE9CE;
}
.welcomeRisposte {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}
.welcomeSi,
.welcomeNo {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 133%;
}
.welcomeNo {
    color: #6A6A6A;
}
.welcomeSi:hover,
.welcomeNo:hover {
    cursor: crosshair;
}
.welcomeAlertVari {
    color: #DD0F0F;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: calc(100% - 15px);
    text-align: right;
    font-size: 94%;
    margin-top: 170px;
}

/*SFONDO*/
.sfondo{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #364CB6;
    display: flex;
    flex-direction: column-reverse;
    z-index: -1;
    overflow: hidden;
}
.corpo3{
    position: absolute;
    width: 713px;
    height: 1737px;
    top: -13%;
    left: 1%;
    background: #70C7EC;
    transform: rotate(-40deg);
}
.corpo2{
    position: absolute;
    width: 713px;
    height: 1405px;
    left: -10%;
    top: 10%;
    background: #4863E6;
    transform: rotate(-49.84deg);
}
.corpo1{
    position: absolute;
    background-color: #34189C;
    height: 700px;
    width: 300px;
    transform: rotate(-45deg);
    top: 50%;
    left: -2%;
}

/* PAGINA */
.pagina {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background: transparent;
}
.main {
    height: 100vh;
    width: calc(100% - 60px);
}
/* eggSolution */
.eggSoltuion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 40px;
    width: 250px;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 5px;
}
.eggSoltuion a {
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
    font-size: 85%
}
.eggSoltuion img {
    height: 30px;
    margin-left: 4px;
    margin-right: 6px;
}

/* MENU LATERALE */
.menu {
    height: 100vh;
    width: 60px;
    background: var(--barraLateraleColore);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itetLogo {
    height: 50px;
    width: 50px;
    margin-top: 8px;
}
.indicatore {
    border-radius: 50%;
    border: 8px var(--mainBackground) solid;
    left: calc(60px - 50px/2 - 8px);
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    position: absolute;
    transition: 0.5s;
}
.indicatore::before {
    content: '';
    position: absolute;
    top: -41%;
    left: 9px;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-bottom-right-radius: 20px;
    border-right: 5px var(--mainBackground) solid;
    border-bottom: 5px var(--mainBackground) solid;
}
.indicatore::after {
    content: '';
    position: absolute;
    bottom: -41%;
    left: 9px;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-top-right-radius: 20px;
    border-right: 5px var(--mainBackground) solid;
    border-top: 5px var(--mainBackground) solid;
}
.lista {
    position: relative;
    top: 50%;
    transform: translateY(calc(-50% - 55px));
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lista button div {
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lista button div a {
    position: absolute;
    text-align: center;
    transform: rotate(90deg) translateY(25px);
    width: 80px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.8px;
    opacity: 0;
    transition: 0.5s;
}
.lista button div icona {
    position: absolute;
    margin-left: 13px;
    width: 34px;
    transition: 0.5s;
}
.lista button div .icona {
    position: absolute;
    margin-left: 13px;
    width: 34px;
    transition: 0.5s;
}
.lista button {
    background: var(--barraLateraleColore);
    border: 0 solid;
}
.MenuSezionesotto {
    height: 120px;
    width: 60px;
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MenuSezionesotto button,
.MenuSezionesotto #logoutGoogle, {
    height: 34px;
    width: 34px;
    border: black 0 solid;
    background: transparent;
}
.MenuSezionesotto img {
    width: 34px;
    transition: 0.5s;
}
.MenuSezionesotto img:hover {
    transform: rotate(40deg);
}
.fileMenuType {
    border-radius: 14px;
    width: 75%;
    margin-left: calc((100% - 75%) / 2);
    background: #4863E6;
    transition: 0.2s height;
    display: flex;
    flex-direction: column;
}
.fileMenuType .sopra,
.fileMenuType .sotto {
    border: 0 solid;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fileMenuType .sopra #svgElement,
.fileMenuType .sotto #svgElement {
    transition: 0.2s;
}

/* IMPOSTAZIONI */
.imp {
    height: calc(100% - 140px);
    width: calc(100% - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    position: absolute;
    background-color: #303030;
    margin-left: 50px;
    margin-top: 15px;
    transition: 0.2s;
}
.settaggi {
    margin-top: -20px;
    width: 420px;
    background-color: none;
    display: flex;
    flex-direction: column;
}
.imgProfilo {
    margin-left: calc(420px / 2 - 140px / 2);
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
}
.img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.cambiaImg {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    background-color: none;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(50px) translateY(90px);
}
.inputImp1,
.inputImp2,
.inputImp3,
.inputImp4 {
    text-align: center;
    color: white;
    background-color: #474549;
    padding: 20px;
    margin-top: 30px;
    height: 20px;
    width: calc(420px - 40px);
    border-radius: 20px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 500;
    font-size: 120%;
    line-height: 100%;
    transition: 0.2s;
}
.inputImp4 {
    padding-top: 20px;
}
.inputImpAnnulla,
.inputImpApplica {
    text-align: center;
    color: white;
    background-color: #474549;
    padding: 15px;
    width: 140px;
    margin-top: 30px;
    border-radius: 20px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 500;
    font-size: 100%;
    line-height: 100%;
    transition: 0.2s;
}
.mostraPass {
    text-align: center;
    height: 60px;
    color: white;
    background-color: #524f54;
    padding: 15px;
    width: 50px;
    margin-top: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-weight: 500;
    font-size: 100%;
    line-height: 100%;
    transition: 0.2s;
    float: right;
    transform: translateX(-50px)
}
.mostraPass div {
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
    z-index: 5;
    transform: translateX(-5px)
}
.inputImpAnnulla {
    background-color: #A33838;
}
.inputImpApplica {
    background-color: #59AE9F;
    float: right;
}
/* hover box shadow */
.inputImp1:hover,
.inputImp2:hover,
.inputImp3:hover,
.mostraPass:hover,
.inputImpAnnulla:hover,
.inputImpApplica:hover {
    box-shadow: 6px 6px 6px rgba(64, 179, 216, 0.31);
}

/* HEADER */
header {
    height: 60px;
    width: 100%;
    background: transparent;
    padding-top: 15px;
    padding-left: 45px;
    display: flex;
    flex-direction: row;

}
.containerTitoloSezione {
    padding-top: 10px;
    height: 60px;
    width: 500px;
    align-items: center;
    background: transparent;
    overflow: hidden;
}
.movingContainerTitoloSezione {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
.elabTitolo {
    width: 500px;
    height: 55px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.elabTitolo .subtitleSlide {
    position: inline;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
.elabTitolo .subtitleSlide a {
    width: 200px;
    margin-top: 17px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #313131;
}
.impTitolo {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 190%;
    color: #303030;
    transition: 0.1s;
}
.movingContainerTitoloSezione a {
    margin-top: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #303030;
    transition: 0.1s;
}
.containerUserInfo {
    margin-right: 50px;
    height: 60px;
    width: auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    align-items: center;
}
.containerUserInfo a {
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    color: white;
    margin-right: 16px;
}
.userImg {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: var(--mainBackground);
}
.userImg img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

/* SEZIONI */
.sezioni {
    overflow: hidden;
    margin-top: 15px;
    height: calc(100% - 15px);
    width: 100%;
    background: transparent;
}
.movingContainerSezioni {
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
.home,
.statitiche,
.elaboratiPersonali,
.elaboratiClasse,
.aggiungiElaborati {
    height: calc(100% - 20px);
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* HOME */
/* sezioni */
.divHomeSopra {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.divHomeSopraSinistra {
    height: 100%;
    width: 77%;
    display: flex;
}
.divElaboratiPreferiti {
    padding: 10px;
    padding-top: 5px;
    height: calc(100% - var(--widgetSpacing)/2 - 15px);
    width: calc(100% - var(--widgetSpacing)/2);
    background: rgba(48, 48, 48, 0.9);
    border-radius: var(--widgetBorderRadius);
    display: flex;
    flex-direction: column;
}
.divHomeSopraDestra {
    height: 100%;
    width: 23%;
    display: flex;
}
.divHomeStatsElaborati {
    margin-left: calc(var(--widgetSpacing)/2);
    height: calc(100% - var(--widgetSpacing)/2);
    width: calc(100% - var(--widgetSpacing)/2);
    background: rgba(48, 48, 48, 0.9);
    border-radius: var(--widgetBorderRadius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.divHomeSotto {
    height: 55%;
    width: 100%;
    display: flex;
}
.divElaboratiRecenti {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: calc(100% - var(--widgetSpacing)/2);
    width: 100%;
    background: rgba(48, 48, 48, 0.9);
    border-radius: var(--widgetBorderRadius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* elaborati preferiti (alto sinistra) */
.divElaboratiPreferiti .titoloSezione {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 20px;
    height: 34px;
    width: 100%;
    transition: 0.8s;
    font-family: 'Roboto', sans-serif;
    font-size: 160%;
    color: #FFFFFF;
}
.divElaboratiPreferiti .listaSchede {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.divElaboratiPreferiti .listaSchedeScorri {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
}
.divElaboratiPreferiti .schedaPreferito {
    position: relative;
    min-width: 15%;
    height: 96%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #C27DFC;
    margin-left: 20px;
    margin-bottom: 3%;
}
.divElaboratiPreferiti .schedaPreferito div {
    background: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divElaboratiPreferiti .schedaPreferito a {
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    color: #000000;
}

/* statistiche (alto destra) */
.label1,
.label2,
.label3 {
    height: 26%;
    width: 88%;
    background-color: #1B1B1B;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
}
.label1 .sinistra,
.label2 .sinistra,
.label3 .sinistra {
    width: 20%;
}
.label1 .barra,
.label2 .barra,
.label3 .barra {
    transition: 0.8s width;
    position: absolute;
    width: 2.5%;
    border-radius: 24px;
}
.label1 .barra {
    background-color: #1FC4DA;
}
.label2 .barra {
    background-color: #FF8496;
}
.label3 .barra {
    background-color: #C27DFC;
}
.label1:hover a {
    color: black;
}
.label2:hover a {
    color: black;
}
.label3:hover a {
    color: black;
}
.label1 .icona,
.label2 .icona,
.label3 .icona {
    top: calc((100% - 7.4vh)/2);
    left: 15%;
    position: relative;
    height: 7.4vh;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}
.label1 .icona img,
.label2 .icona img,
.label3 .icona img {
    height: 75%;
    margin-left: 16%; /*ofset per icona fatta larga*/
}
.label1 .dati,
.label2 .dati,
.label3 .dati {
    z-index: 3;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.label1 .titolo,
.label2 .titolo,
.label3 .titolo {
    transition: 0.8s;
    font-family: 'Roboto', sans-serif;
    font-size: 94%;
    color: #B2B2B2;
}
.label1 .numero,
.label2 .numero,
.label3 .numero {
    transition: 0.8s;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    color: white;
}
/* elaborati recenti (sotto) */
.divElaboratiRecenti .titoloSezione {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 40px;
    height: 50px;
    width: 100%;
    transition: 0.8s;
    font-family: 'Roboto', sans-serif;
    font-size: 160%;
    color: #FFFFFF;
}
.divElaboratiRecenti .tabella {
    margin-top: 10px;
    height: calc(100% - 40px - 5px - 10px);
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}
.divElaboratiRecenti .linea {
    width: 100%;
    height: 3px;
    border-radius: 20px;
    border: solid 0;
    background: #AAAAAA;
    opacity: 60%;
}
.divElaboratiRecenti .headTabella {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}
.divElaboratiRecenti .bodyTabella {
    width: 100%;
    height: calc(100% - 40px - 4px - 15px);
    overflow-y: scroll;
}
.divElaboratiRecenti .tabella .row {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
.divElaboratiRecenti .tabella .bodyTabella .row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.divElaboratiRecenti .headTabella a {
    color: #FFFFFF;
    opacity: 80%;
}
.divElaboratiRecenti .bodyTabella a {
    color: #FFFFFF;
    opacity: 100%;
}
.divElaboratiRecenti .tabella .row .id {
    width: 3%;
}
.divElaboratiRecenti .tabella .row .nome {
    width: 22%;
}
.divElaboratiRecenti .tabella .row .autore {
    width: 14%;
}
.divElaboratiRecenti .tabella .row .classe {
    width: 10%;
}
.divElaboratiRecenti .tabella .row .dataCaricamento {
    width: 22%;
}
.divElaboratiRecenti .tabella .row .stato {
    width: 20%;
}
.divElaboratiRecenti .tabella .row .preferito {
    width: 6%;
}
.divElaboratiRecenti .tabella .row .id,
.divElaboratiRecenti .tabella .row .nome,
.divElaboratiRecenti .tabella .row .autore,
.divElaboratiRecenti .tabella .row .classe,
.divElaboratiRecenti .tabella .row .dataCaricamento,
.divElaboratiRecenti .tabella .row .stato,
.divElaboratiRecenti .tabella .row .preferito {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.divElaboratiRecenti .tabella .row .id a,
.divElaboratiRecenti .tabella .row .nome a,
.divElaboratiRecenti .tabella .row .autore a,
.divElaboratiRecenti .tabella .row .classe a,
.divElaboratiRecenti .tabella .row .dataCaricamento a,
.divElaboratiRecenti .tabella .row .stato a,
.divElaboratiRecenti .tabella .row .preferito a {
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    font-weight: lighter;
    color: #FFFFFF;
}
.divElaboratiRecenti .tabella .row .id .divisore,
.divElaboratiRecenti .tabella .row .nome .divisore,
.divElaboratiRecenti .tabella .row .autore .divisore,
.divElaboratiRecenti .tabella .row .classe .divisore,
.divElaboratiRecenti .tabella .row .dataCaricamento .divisore,
.divElaboratiRecenti .tabella .row .stato .divisore,
.divElaboratiRecenti .tabella .row .preferito .divisore {
    height: 20px;
    width: 4px;
    background: #D9D9D9;
    opacity: 70%;
    border-radius: 40px;
    margin-right: 10px;
}

/* STATISTICHE */
.statistiche{
    display: flex;
    flex-direction: column;
}
.divStatisticheSopra{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.divStatisticheSopraSinistra{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}
.divGraficoLinee{
    margin-bottom: calc(var(--widgetSpacing)/2);
    height: calc(100% - var(--widgetSpacing)/2);
    width: calc(100% - var(--widgetSpacing)/2);
    background: rgba(48, 48, 48, 0.9);
    border-radius: var(--widgetBorderRadius);
}
.divStatisticheSopraDestra{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}
.divStatisticheStatsElaborati{
    margin-left: calc(var(--widgetSpacing)/2);
    margin-bottom: calc(var(--widgetSpacing)/2);
    height: calc(100% - var(--widgetSpacing)/2);
    width: calc(100% - var(--widgetSpacing)/2);
    background: rgba(48, 48, 48, 0.9);
    border-radius: var(--widgetBorderRadius);
}
.divStatisticheSotto{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.divStatisticheSottoSinistra{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}
.divStatisticheGraficoTorta{
    margin-top: calc(var(--widgetSpacing)/2);
    height: calc(100% - var(--widgetSpacing)/2);
    width: calc(100% - var(--widgetSpacing)/2);
    background: rgba(48, 48, 48, 0.9);
    border-radius: var(--widgetBorderRadius);
}
.divStatisticheSottoDestra{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}
.divStatisticheGraficoColonne{
    margin-left: calc(var(--widgetSpacing)/2);
    margin-top: calc(var(--widgetSpacing)/2);
    height: calc(100% - var(--widgetSpacing)/2);
    width: calc(100% - var(--widgetSpacing)/2);
    background: rgba(48, 48, 48, 0.9);
    border-radius: var(--widgetBorderRadius);
}

/* ELABORATI */
.sezElaborati {
    background-color: rgba(48 ,48, 48, 0.9);
    height:100%;
    width:100%;
    border-radius: var(--widgetBorderRadius);
}
.titoloPref {
    position: absolute;
    color: rgb(225, 225, 225);
    font-family: 'Roboto', sans-serif;
    margin-top: 23px;
    margin-left: 55px;
    font-size: 160%;
}
.sezPreferitiElab {
    overflow: auto;
    white-space: nowrap;
    margin-top:80px;
    height:204px;
    width: calc(100% - 108px);
    margin-left:54px;
}

.scrollbar {
    overflow: visible;
    width: calc(100% - 90px);
    height: 10px;
    scrollbar-color: rgb(173, 0, 0) rgba(0, 255, 42, 0.8);
}
.scrollbar div {
    display: inline-block;
    color: rgb(0, 0, 0);
}
.sezTuttiElaborati{
    margin-top: 69px;
}
.sezElaborati .titolo{
    position: absolute;
    margin-top: 13px;
    color: rgb(225, 225, 225);
    font-family: 'Roboto', sans-serif;
    margin-left: 55px;
    font-size: 160%;
}
.sezElaborati .filtri{
    position: absolute;
    margin-top: 13px;
    color: rgb(225, 225, 225);
    font-family: 'Roboto', sans-serif;
    margin-left: calc(1760px - 76.35px - 55px);
    font-size: 124%;
}
.sezElaborati .tabella {
    height: calc(100% - 40px - 5px - 10px);
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}
.sezElaborati .linea {
    margin-left: 54px;
    width: calc(100% - 54px);
    height: 3px;
    border-radius: 20px;
    border: solid 0;
    background: #AAAAAA;
    opacity: 60%;
}
.sezElaborati .headTabella {
    margin-left: 54px;
    width: calc(100% - 54px);
    height: 40px;
    display: flex;
}
.sezElaborati .bodyTabella {
    width: calc(100% - 54px);
    height: calc(100% - 40px - 4px - 15px);
    overflow-y: scroll;
    margin-left: 54px;
}
.sezElaborati .tabella .row {
    width: calc(100% - 54px);
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sezElaborati .tabella .bodyTabella .row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.sezElaborati .headTabella a {
    color: #FFFFFF;
    opacity: 80%;
}
.sezElaborati .bodyTabella a {
    color: #FFFFFF;
    opacity: 100%;
}
.sezElaborati .tabella .row .id {
    width: 3%;
}
.sezElaborati .tabella .row .nome {
    width: 22%;
}
.sezElaborati .tabella .row .autore {
    width: 14%;
}
.sezElaborati .tabella .row .classe {
    width: 10%;
}
.sezElaborati .tabella .row .dataCaricamento {
    width: 22%;
}
.sezElaborati .tabella .row .stato {
    width: 20%;
}
.sezElaborati .tabella .row .preferito {
    width: 6%;
}
.sezElaborati .tabella .row .id,
.sezElaborati .tabella .row .nome,
.sezElaborati .tabella .row .autore,
.sezElaborati .tabella .row .classe,
.sezElaborati .tabella .row .dataCaricamento,
.sezElaborati .tabella .row .stato,
.sezElaborati .tabella .row .preferito {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.sezElaborati .tabella .row .id a,
.sezElaborati .tabella .row .nome a,
.sezElaborati .tabella .row .autore a,
.sezElaborati .tabella .row .classe a,
.sezElaborati .tabella .row .dataCaricamento a,
.sezElaborati .tabella .row .stato a,
.sezElaborati .tabella .row .preferito a {
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    font-weight: lighter;
    color: #FFFFFF;
}
.sezElaborati .tabella .row .id .divisore,
.sezElaborati .tabella .row .nome .divisore,
.sezElaborati .tabella .row .autore .divisore,
.sezElaborati .tabella .row .classe .divisore,
.sezElaborati .tabella .row .dataCaricamento .divisore,
.sezElaborati .tabella .row .stato .divisore,
.sezElaborati .tabella .row .preferito .divisore {
    height: 20px;
    width: 4px;
    background: #D9D9D9;
    opacity: 70%;
    border-radius: 40px;
    margin-right: 10px;
}
