* {
    padding: 0;
    margin: 0;
}
*::selection {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&family=Yantramanav:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,500&display=swap');

/* VIOLA  98, 5, 147 */
/* GRIGIO 34, 34, 34 */

/* welcome page */

.welcomePage {
    height: 698px;
    width: 1168px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #141414;
    border-radius: 40px;
    position: absolute;
    z-index: 6;
}

.welcomeTitle,
.welcomeDes,
.welcomeDom {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.welcomeTitle,
.welcomeDes {
    margin-top: 120px;
}

.welcomeDom {
    margin-top: 80px;
}

.welcomeTitle a {
    color: #F581E3;
}

.welcomeDes a,
.welcomeDom a{
    color: #4DE9CE;
}

.welcomeRisposte {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.welcomeSi,
.welcomeNo {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}

.welcomeNo {
    color: #6A6A6A;
}

.welcomeSi:hover,
.welcomeNo:hover {
    cursor: crosshair;
}

.welcomeAlertVari {
    color: #DD0F0F;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: calc(100% - 15px);
    text-align: right;
    font-size: 15px;
    margin-top: 170px;
}

/* menu di lato */
.menu-l {
    height: 100%;
    width: 90px;
    position: relative;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}
.logo {
    position: relative;
    margin-top:9px;
    width: 55px;
    height: 55px;
    filter: drop-shadow(7px 10px 4px rgb(0, 0, 0));
}
.iconeCentrali {
    top: calc(50% - 170px/2 - 60px);
    width: 90px;
    height: 170px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: absolute;
}
.iconeBasse {
    bottom: 0;
    width: 90px;
    height: 110px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: absolute;
}
/* icone */
.indicatore {
    height: 37px;
    width: 4px;
    position: relative;
    margin-right: calc(90px - 10px);
    background-color: white;
    border-radius: 0 8px 8px 0;
    transition: 0.3s;
}
.bottoneL1,
.bottoneL2,
.bottoneL3,
.bottoneL4 {
    border: 0 solid;
    background: transparent;
}
.logo1,
.logo2,
.logo3,
.logo4 {
    padding-left: 30px;
    margin-top: 10px;
    height: 40px;
    width: 90px;
    position: relative;
}
.logo2,
.logo3,
.logo4 {
    margin-top: 30px;
}
.homeLogo,
.graLogo,
.tabLogo,
.aggTabLogo {
    height: 22px;
}
.loguotDiv,
.impostazioniDiv {
    padding-left: 30px;
    height: 60px;
    width: 90px;
    position: relative;
}
.impostazioniDiv {
    height: 40px;
    width: 90px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
}
.logout,
.impostazioni {
    height: 25px;
    transition: 0.2s;
}
.impostazioni:hover {
    transform: rotate(-45deg);
}
/* ---- */
.destra {
    height: auto;
    width: calc(100% - 90px);
    position: relative;
    display: flex;
    flex-direction: column;
}
/* menu sopra */
.manu-s {
    width: 100%;
    height: 60px;
    background-color: #282828;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 3;
}
.account {
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0;
    margin-top: 5px;
    margin-right: 15px;
    position: absolute;
}
.nomeAccount {
    font-size: 17px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-right: 4px;
    position: relative;
}
.immagneAccount {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-color: rgb(37, 37, 37);
    border: 1.6px solid rgb(37, 37, 37);
}

/* parte principale */
.main {
    width: 100%;
    height: calc(100% - 60px);
    background-repeat: no-repeat;
    background-color: #313131;
    background-size: 160vh;
    background-position: center center;
    position: relative;
    display: flex;
    flex-direction: row;
}

/* sezione laterale statica */
.sezioneLaterali {
    display: flex;
    flex-direction: column;
    width: calc(30% - 10px);
    height: calc(100% - 40px);
    margin-left: 10px;
    margin-top: 20px;
    transition: 0.6s;
}

.contatti {
    height: 40%;
    width: calc(100% - 20px);
    background-color: #222222;
    opacity: 90%;
    border-radius: 35px;
}

.chat {
    margin-top: 20px;
    height: calc(60% - 90px);
    width: calc(100% - 20px);
    background-color: #222222;
    opacity: 90%;
    border-radius: 35px;
}
.sezioneLaterale {
    position: absolute;
    margin-left: 861px;
    height: 100%;
    width: calc(100% - 20px);
    background-color: #222222;
    opacity: 90%;
    border-radius: 35px;
}

.sezioni {
    display: flex;
    flex-direction: column;
    width: calc(90% - 50px);
    height: calc(400% - 40px);
    margin: 20px;
    transition: 0.6s;
}
.titoloDiv,
.titoloDivImp {
    width: 100%;
    height: 40px;
    transform: translateY(35px);
}
.titoloDivImp {
    width: 50px;
}
.titoloSez {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 60px;
    color: white;
    position: relative;
}

/* sezione Principale */
.sezionePrincipale {
    height: calc(100% - 40px);
    width: 100%;
    background-color: #222222;
    opacity: 90%;
    border-radius: 35px;
    margin-bottom: 30px;
}

/* preferiti */

.tabellaElabPref {
    border: none;
    border-collapse: collapse;
    position: absolute;
    width: calc(100% - 120px);
    max-height: calc(100% - 135px - 30px);
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    overflow-y: visible;
}
.tbp1,
.tbp2h
.tbp2d {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: white;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.tbp2h:nth-child(1) {
    width: 25%;
}

.tbp2h:nth-child(2) {
    width: 16%;
}

.tbp2h:nth-child(3) {
    width: 40%;
}

.tbp2d{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.tbp2d a {
    font-size: 17px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.tbp2h {
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: solid 2px rgba(255, 255, 255, 1);
    width: 24%;
    font-size: 20px;
    padding-bottom: 10px;
}

.tbp2 {
    color: white;
}

.tbp2:hover {
    cursor: crosshair;
    background-color: #474747;
}

/* sezione Info */
.sezioneInfo {
    height: calc(100% - 40px);
    width: 100%;
    background-color: #222222;
    opacity: 90%;
    border-radius: 35px;
    margin-bottom: 30px;
}

/* sezione Elaborati */
.sezioneElaborati {
    height: calc(100% - 40px);
    width: 100%;
    background-color: #222222;
    opacity: 90%;
    border-radius: 35px;
    margin-bottom: 30px;
}
.tabellaElaborati {
    border: none;
    border-collapse: collapse;
    position: absolute;
    width: calc(100% - 120px);
    max-height: calc(100% - 135px - 30px);
    transform: translateY(100px);
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    overflow-y: visible;
}
.tbe1,
.tbe2
.tbe2h {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: white;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.tbe2h:nth-child(1) {
    width: 25%;
}

.tbe2h:nth-child(2) {
    width: 16%;
}

.tbe2h:nth-child(3) {
    width: 40%;
}

.tbe2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.tbe2 a {
    font-size: 17px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.tbe2h {
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: solid 2px rgba(255, 255, 255, 1);
    width: 24%;
    font-size: 20px;
    padding-bottom: 10px;
}

.tbeFile {
    color: white;
}

.tbeFile:hover {
    cursor: crosshair;
    background-color: #474747;
}

/* sezione carica elaborati */
.fileForm {
    position: absolute;
    margin-top: 80px;
}

/* sezione Laterale */
.sezioneAgg {
    height: calc(100% - 40px);
    width: 100%;
    background-color: #222222;
    opacity: 90%;
    border-radius: 35px;
    margin-bottom: 30px;
}
.parteSottoAgg{
    height: auto;
    width: 100%;
    transform: translateY(50px);
    display: flex;
    flex-direction: column;
}
.sopraAgg{
    height: 75px;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.sopraSX{
    height: 100%;
    width: 70%;
    position: relative;
    z-index: 6;
}
.divSopraSX{
    position: relative;
    width: 90%;
    height: 71px;
    background: #474549;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.73);
    border-radius: 19px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.divSopraSXSopra{
    height: 50%;
    width: 100%;
    position: relative;
    text-align:center;
}
.scritteSopraAgg{
    font-size: 17px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.divSopraSXSotto{
    height: 50%;
    width: 100%;
    position: relative;
}
.nomeElaboratoInput{
    background-color: #474549;
    width: 60px;
    border: 6px solid rgb(116, 116, 116);
    transition: width 0.8s ease-in-out;
    border-radius: 12px;
    color: #fff;
}
.nomeElaboratoInput:hover{
    width: 80%;
    border: 6px solid #8157ac;

}
.nomeElaboratoInput:focus{
    width: 90%;
}
.nomeElaboratoInput{
   height: 50%;
   width: 75%;
   position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
.sopraDX{
    height: 100%;
    width: 30%;
    position: relative;
}
.divSopraDX{
    position: relative;
    width: 100%;
    height: 71px;
    background: #474549;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.73);
    border-radius: 19px;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.dropbtn {
    background-color: #3b3939;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transform: translate(0%, -50%);
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3b3939;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd
}
.show {
    display:block;
}
.menuTendinaAgg{
    position: relative;
}
.mezzoAgg{
    height: 350px;
    width: 85%;
    position: relative;
}
.dragDrop{
    position: relative;
    width: 70%;
    height: 90%;
    background: #474549;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.73);
    border-radius: 42px;
    margin-left: 5%;
    margin-top: 3%;
}

.scritteDragDrop{
    height: 250px;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.scritteDragDropSopra{
    height: 80%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.scritteDragDropSopraVere{
    font-size: 28px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.inputDragDrop{
    width: 100%;
    height: 25px;
    transform: translateY(80px);
    display: flex;
    justify-content: center;
}
input[type = "file"]{
    display: none;
}
label{
    color: white;
    font-size: 28px;
    height: 60px;
    width: 180px;
    position: absolute;
    background-color: #49474b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    transition: border-radius 0.4s ease-in-out;
    transition: box-shadow 0.8s ease-in-out;
    box-shadow: 10px 10px 4px
    rgba(40, 202, 140, 0)

}
label:hover{
    background-color: #8157ac;
    border-radius: 22px;
    box-shadow: 10px 10px 4px
    rgba(40, 202, 140, 0.1)
}
.sottoAgg{
    height: 75px;
    width: 30%;
    position: relative;
}
.invioFileDiv{
    width: 185px;
    height: 71px;
    position: relative;
    background: #474549;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.73);
    border-radius: 19px;
    transform: translateX(15px);
    margin-left: 30px;
    display:flex;
    justify-content: center;
}
.fileInputSubmit{
    position: relative;
    background-color: #49474b;;
    border: none;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: border-radius 0.3s ease-in-out;
}
.fileInputSubmit:hover{
    background-color: #8d6cb1;
    border-radius: 25px;
}
/* IMPOSTAZIONI */
.imp {
    height: calc(100% - 100px);
    width: calc(100% - 50px);
    border-radius: 35px;
    position: absolute;
    background-color: #242424;
    opacity: 86%;
    margin-left: 20px;
    margin-top: calc(40px + 40px);
    transition: 0.2s;
}
.header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.chiudi {
    height: 40px;
    width: 40px;
    margin-top: 35px;
    right: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    background-color: transparent;
    border: 0 solid;
}
.chiudi:hover {
    transform: rotate(90deg);
}
.linea1 {
    transform: rotate(45deg);
    height: 6px;
    width: 35px;
    position: absolute;
    border: solid 0;
    background-color: white;
}
.linea2 {
    transform: rotate(-45deg);
    height: 6px;
    width: 35px;
    position: absolute;
    border: solid 0;
    background-color: white;
}


/* input impostazioni */
.settaggi {
    width: 420px;
    height: 700px;
    margin-left: calc(50% - 420px / 2);
    vertical-align: middle;
    background-color: none;
    display: flex;
    flex-direction: column;
    transform: translateY(calc(50% - 280px));
}

.imgProfilo {
    margin-left: calc(420px / 2 - 140px / 2);
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
}

.img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.cambiaImg {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    background-color: none;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(50px) translateY(90px);
}

.inputImp1,
.inputImp2,
.inputImp3,
.inputImp4 {
    text-align: center;
    color: white;
    background-color: #474549;
    padding: 20px;
    margin-top: 30px;
    height: 20px;
    width: calc(420px - 40px);
    border-radius: 20px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    transition: 0.2s;
}

.inputImp4 {
    padding-top: 20px;
}

.inputImpAnnulla,
.inputImpApplica {
    text-align: center;
    color: white;
    background-color: #474549;
    padding: 15px;
    width: 140px;
    margin-top: 30px;
    border-radius: 20px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    transition: 0.2s;
}

.mostraPass {
    text-align: center;
    height: 60px;
    color: white;
    background-color: #524f54;
    padding: 15px;
    width: 50px;
    margin-top: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    transition: 0.2s;
    float: right;
    transform: translateX(-50px)
}

.mostraPass div {
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
    z-index: 5;
    transform: translateX(-5px)
}

.inputImpAnnulla {
    background-color: #A33838;
}

.inputImpApplica {
    background-color: #59AE9F;
    float: right;
}

/* hover box shadow */
.inputImp1:hover,
.inputImp2:hover,
.inputImp3:hover,
.mostraPass:hover,
.inputImpAnnulla:hover,
.inputImpApplica:hover {
    box-shadow: 6px 6px 6px rgba(64, 179, 216, 0.31);
}
