@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* SFONDO */
.sfondo {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(250.99deg, #050B25 0%, #0E155B 34.9%, #152364 78.12%, #33459C 100%);
}

/* PAGINA */
.pagina {
    height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    transform: translateY(-40px);
}

/* LOGO PILATI */
.logo {
    width: 360px;
    position: relative;
}

/* MAIN */
.main {
    overflow: hidden;
    background: #06000E;
    height: 320px;
    width: 500px;
    position: relative;
    opacity: 0.71;
    border-radius: 44px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.centro {
    width: 250px;
    display: flex;
    flex-direction: column;
}
.centro .sopra {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centro .mezzo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 18px;
    margin-bottom: 18px;
}
.centro .mezzo hr {
    width: 35px;
    height: 2px;
    border: 0 solid;
    background: #ffffff;
    border-radius: 1px;
}
.centro .mezzo a  {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.centro .sotto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.centro .sotto input {
    font-family: "Google Sans", arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    height: 39px;
    width: 174px;
    border: 0 solid;
    border-radius: 4px;
    background: #ffffff;
    color: #3c4043;
}

/* FOOTER */
/* eggSolution */
.eggSoltuion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 40px;
    width: 250px;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 5px;
}
.eggSoltuion a {
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
    font-size: 85%
}
.eggSoltuion img {
    height: 30px;
    margin-left: 4px;
    margin-right: 6px;
}
.copyright {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    color: white;
    position: absolute;
    padding-bottom: 12px;
    bottom: 0;
    left: 14px;
}

/* RESPONSIVE MOBILE */
@media only screen and (max-width: 600px){
    .corpo2 {
        left: -40%;
        top: 4%;
    }
    .logo {
        width: 70%;
    }
    .main {
        width: 75%;
        height: 30%;
        border-radius: 40px;
    }
    .copyright {
        display: none;
    }
}
