@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}

/* SFONDO */
.sfondo{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #364CB6;
    display: flex;
    flex-direction: column-reverse;
    z-index: 0;
    overflow: hidden;
}
.corpo3{
    position: absolute;
    width: 713px;
    height: 1737px;
    top: -13%;
    left: 1%;
    background: #70C7EC;
    transform: rotate(-40deg);
}
.corpo2{
    position: absolute;
    width: 713px;
    height: 1405px;
    left: -10%;
    top: 10%;
    background: #4863E6;
    transform: rotate(-49.84deg);
}
.corpo1{
    position: absolute;
    background-color: #34189C;
    height: 700px;
    width: 300px;
    transform: rotate(-45deg);
    top: 50%;
    left: -2%;
}

/* PAGINA */
.pagina {
    height: 100vh;
    position: relative;
    width: 100%;
}

/* OPZIONI */
.opzioni {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 30px;
    color: white;
    font-family: 'Inter', sans-serif;
}
.lingua,
.tema {
    display: flex;
    flex-direction: column;
}
.lingua img {
    margin-top: 10px;
    width: 40px;
}
.tema img {
    margin-top: 7px;
    width: 30px;
}
.tema {
    padding-left: 30px;
}

/* LOGO PILATI */
.logo {
    width: 360px;
    top: calc(50% - 400px);
    left: calc(50% - 180px);
    position: relative;
}

/* MAIN */
.main {
    overflow: hidden;
    background: #303030;
    height: 320px;
    width: 500px;
    top: calc(50% - 360px);
    left: calc(50% - 250px);
    position: relative;
    opacity: 0.9;
    border-radius: 44px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.centro {
    width: 250px;
    display: flex;
    flex-direction: column;
}
.centro .sopra {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centro .mezzo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 18px;
    margin-bottom: 18px;
}
.centro .mezzo hr {
    width: 35px;
    height: 2px;
    border: 0 solid;
    background: #ffffff;
    border-radius: 1px;
}
.centro .mezzo a  {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.centro .sotto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.centro .sotto input {
    font-family: "Google Sans", arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    height: 39px;
    width: 174px;
    border: 0 solid;
    border-radius: 4px;
    background: #ffffff;
    color: #3c4043;
}

/* FOOTER */
/* eggSolution */
.eggSoltuion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 40px;
    width: 250px;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 5px;
}
.eggSoltuion a {
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
    font-size: 85%
}
.eggSoltuion img {
    height: 30px;
    margin-left: 4px;
    margin-right: 6px;
}
.copyright {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    color: white;
    position: absolute;
    padding-bottom: 12px;
    bottom: 0;
    left: 14px;
}
